<div style="width: 700px;">
<div class="inbox_msg">
    <div class="mesgs">
      <div class="msg_history" *ngFor="let msg of messageHistory">
        <br>
        <div class="incoming_msg" *ngIf="!isMyMessage(msg)">


          <div class="received_msg">

            <div class="received_withd_msg">
              <p>{{msg.content}}</p>
              <span class="time_date">  {{msg.user.firstName}} {{msg.user.surname}} </span>
            </div>
          </div>
        </div>

        <div class="outgoing_msg" *ngIf="isMyMessage(msg)">

          <div class="sent_msg">
            <p>{{msg.content}}</p>
          </div>
        </div>


      </div>


    </div>




    
  </div>




  <div class="form">

    <form [formGroup]="messageForm" (ngSubmit)="sendMessage()">
        <div class="form-group">
            <label>Message</label>
            <input type="text" formControlName="content" class="form-control" style="height: 100px;"/>
        </div>
  
  
        <div class="form-group">
            <button [disabled]="loading" type="submit" class="btn btn-primary">Send</button>
  
        </div>
  
        <div *ngIf="error" class="alert alert-danger">{{error}}</div>
  
  
    </form>
  </div>

</div>