<div class="form-group">
    <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="term">
</div>


<div>

    <button class="btn btn-success" (click)="open(content)">Create New Club Category Request</button>


    <button class="btn btn-primary" style="position: absolute; right: 0;" (click)="open(requests)">List Club Category
        Requests</button>


</div>





<div class="main-content" style="padding-right: 80px; padding-right: 80px;padding-top: 60px;"
    style="align-items:center;">
    <div class="section-content section-content-p30" style="align-items:center;">
        <div class="container-fluid">

            <div class="row" style="align-self: center;">
                <!-- loop over the collection of products -->
                <div *ngFor="let category of clubcategories | filter:term" class="col-md-3">



                    <div class="card" style="width: 18rem; margin: 20px;">
                        <a routerLink="subclubs/{{ category.id }}" style="align-self: center;">
                            <img class="card-img-top" src={{category.imageurl}} width="80" height="150"
                                alt="Card image cap"> </a>
                        <div class="card-body">
                            <a routerLink="subclubs/{{ category.id }}" style="align-self: center;">
                                <h2 class="card-title">{{ category.clubCategoryName }}</h2>
                            </a>
                            <p class="card-text">{{ category.description }}</p>
                            <a routerLink="subclubs/{{ category.id }}" class="btn btn-primary">Go Inside!</a>
                        </div>
                    </div>




                </div>

                <div *ngIf="clubcategories?.length == 0" class="alert alert-warning col-md-12" role="alert">
                    No club categories found.
                </div>

            </div>



        </div>
    </div>
</div>







<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Create a New Club Category Request</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <div class="form">

            <form [formGroup]="categoryRequestForm" (ngSubmit)="saveRequest()">
                <div class="form-group">
                    <label>Club Category Name</label>
                    <input type="text" formControlName="clubCategoryName" class="form-control" />
                </div>

                <div class="form-group">
                    <label>Reason for this request</label>
                    <input type="text" formControlName="reason" class="form-control" style="height:150px;" />
                </div>

                <div class="form-group">
                    <label>Description of the Category:</label>
                    <input type="text" formControlName="description" class="form-control" style="height:150px;" />
                </div>

                <div class="form-group">
                    <label>Please enter a valid url image for the header</label>
                    <input type="text" formControlName="imageurl" class="form-control" />
                </div>

                <div class="form-group">
                    <button [disabled]="loading" type="submit" class="btn btn-primary" >Save</button>

                </div>

                <div *ngIf="error" class="alert alert-danger">{{error}}</div>


            </form>
        </div>
    </div>
</ng-template>












<ng-template #requests let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Request List</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">


        <table id="myTable" class="table table-striped table-hover">
            <tr>
                <th>Club Category Name</th>
                <th>Reason</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>



            <tr *ngFor="let club of requestList  | filter:term">

                <td> {{club.clubCategoryName}}</td>
                <td> {{club.reason}}</td>
                <td> {{club.description}}</td>
                <td>
                    <div class="like-content">

                        <button type="button" class="btn btn-primary" (click)="vote($event,club.req_id)">
                          Like
                        </button>
                        
                      </div>
                </td>
            </tr>

        </table>



    </div>
</ng-template>










