<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
  
      <ul class="navbar-nav mr-auto">
        <a><img src="assets/img/clubinn.png" width="100" height="40"></a>
        <button type="button"  class="btn btn-light" (click)="clubcategories()">Home</button>
  
        <button type="button"  class="btn btn-light">About us</button>

     
      </ul>
  
  
      <div class="btn-group">
        <button type="button" style="background-color:white; color:teal; margin-right: 5px;" (click)="login()">Login</button>
        <button type="button" style="background-color:white; color:teal" (click)="register()">Register</button>

   
      </div>
  
  
    </div>
  </nav>