<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<link rel="stylesheet" href="https://bootswatch.com/4/simplex/bootstrap.min.css" />



<div class="container">

    <div class="col-10">
        <div class="card">
            <div class="card-body">
                <div class="card-title mb-4">
                    <div class="d-flex justify-content-start">

                        <div class="userData ml-3">
                            <h2 class="d-block" style="font-size: 1.5rem; color:teal; font-weight: bold"><a
                                    href="javascript:void(0);">{{currentUser.firstname}} {{currentUser.surname}}</a>
                            </h2>

                            <label class="hoverable" for="fileInput">
                                <div style="float: left;">
                                    <img src="assets/img/efe.jpeg" width="500" height="150">
                                </div>

                            </label>

                        </div>
                        <div class="ml-auto">
                            <input type="button" class="btn btn-primary d-none" id="btnDiscard"
                                value="Discard Changes" />
                        </div>
                        
                        <div class="col-md-8"><br><br>
                            <br><br>
                        
                            <h2> Change Password</h2>
                            <form [formGroup]="passwordForm" (ngSubmit)="clickSubmitProfile()">
                                

                                <div class="form-group">
                                    <label>Current Password</label>
                                    <input type="text" formControlName="oldPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.oldPassword.errors }" />
                                    <div *ngIf="submitted && f.oldPassword.errors" class="invalid-feedback">
                                        <div *ngIf="f.oldPassword.errors.required">Current Password can not be empty</div>
                                      </div>
                                </div>

                                <div class="form-group">
                                    <label>New Password</label>
                                    <input type="text" formControlName="newPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }"/>
                                    <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
                                        <div *ngIf="f.newPassword.errors.required">New Password can not be empty</div>
                                      </div>
                                </div>
                                <div class="form-group">
                                    <label>New Password Confirmation</label>
                                    <input type="text" formControlName="newPasswordConfirmation" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.newPasswordConfirmation.errors }"/>
                                    <div *ngIf="submitted && f.newPasswordConfirmation.errors" class="invalid-feedback">
                                        <div *ngIf="f.newPasswordConfirmation.errors.required">Password confirmation can not be empty</div>
                                        <div *ngIf="f.newPasswordConfirmation.errors.mustMatch">Passwords don't match</div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <button [disabled]="loading" type="submit" class="btn btn-primary">Save</button>

                                </div>


                                <div *ngIf="error" class="alert alert-danger">{{error}}</div>


                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

